<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;""">
     <h1>Notes App</h1>
        <!-- affichage contenu de notre entête se trouvant dans le composant header grace a la fonction include -->
        <%- include('./composants/header') %> 
       
              
       <section>
            <form action="/notes" method="post">
                <input type="hidden" name="id" id="id">
                <label for="titre">Titre</label> <br>
                <input type="text" name="titre" id="titre"> <br>
                <label for="description">Description</label> <br>
                <textarea name="description" id="description" cols="30" rows="10"></textarea> <br>
                <br>
                <input type="submit" name="Enregistrer" id="">
            </form>
            <p>=======================================</p>
            <section>
                <h2>Liste des notes</h2>
              
                <!-- affichage des élément se trouvant dans notre base de donnée -->
               
                    <% for(i=0; i<resultat.length; i++){ %>

                        <h3><%= resultat[i].titre %></h3>
                        <p><%= resultat[i].description %></p> 

                        <!-- ajout bouton modifier et supprimer -->
                        <input type="button" value="Modifier" onclick="modifierDonnes('<%= resultat[i].id %>', 
                                                                                      '<%= resultat[i].titre %>', 
                                                                                      '<%= resultat[i].description %>' 
                                                                                      )">
                        <input type="button" value="Supprimer" onclick="supprimerDonnee('<%= resultat[i].id %>')">
                        
                    <%}%>


                    
            </section>
        </section>
    </div>
</body>

<!-- script pour recuperer les ids de balise titre, description et id -->
<script>
    function modifierDonnes(id, titre, desc){
        document.getElementById('id').value = id;
        document.getElementById('titre').value = titre;
        document.getElementById('description').value = desc;
    }

    const supprimerDonnee = (id) => {
        let pointFinal = "notes/" + id;
        fetch(pointFinal, {method: "DELETE"})
        .then((reponse) => reponse.json())
        .then((donnee) => window.location.href=donnee.routeRacine)
        .catch((erreur) => console.log(erreur))
    }
</script>
</html>